.text-center {
  text-align: center;
}

.hidden {
  display: none !important;
}

.mt-2 {
  margin-top: var(--spacing-sm);
}

.mt-4 {
  margin-top: var(--spacing-md);
}

.pt-4 {
  padding-top: var(--spacing-md);
}

.fullscreen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.gap-1 {
  gap: 1rem;
}
