:root {
  /* espaçamentos */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;

  /* cores principais */
  --red: #e3646e;
  --purple: #bb72e9;
  --blue: #3996db;
  --green: #82bc4f;
  --yellow: #eabd5f;

  /* cores base */
  --gray-100: #e2e4e9;
  --gray-200: #c0c4ce;
  --gray-300: #878ea1;
  --gray-400: #292c34;
  --gray-500: #16181d;
  --gray-600: #0d0e11;
  --bg-color: #16181d;
  --color-primary: #4f46e5;
  --color-secondary: #9333ea;
  --color-background: #ffffff;
  --surface-color: #18181b;
  --background-color: #212124;
  --brand-color-primary: #f7d826;
  --brand-color-secondary: #f04805;
  --brand-gradient: linear-gradient(
    90deg,
    var(--brand-color-secondary) 0%,
    var(--brand-color-primary) 100%
  );

  /* fontes */
  --font-family-title: "Asap", sans-serif;
  --font-family-subtitle: "Inconsolata", sans-serif;
  --font-family-text: "Maven Pro", sans-serif;

  --title-lg: 700 56px/120% var(--font-family-title);
  --title-md: 700 24px/120% var(--font-family-title);
  --title-sm: 700 16px/120% var(--font-family-title);

  --subtitle: 400 20px/120% var(--font-family-subtitle);

  --text-md: 400 16px/140% var(--font-family-text);
  --text-sm: 400 14px/140% var(--font-family-text);

  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-sm: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-lg: 1.25rem; /* 20px */
  --fs-xl: 1.5rem; /* 24px */
  --fs-2xl: 2.5rem; /* 40px */
}
